html,body{
    height: 100%
}
body {
    background-color: #fff;
    background: url(../images/polkadot-bg.png) repeat top left;
    background-size: 750px;
    
}

.site-header{
    margin-top: -10px;
    font-size: 2.8em;
}

.icon-m {
    height: 50px;
}

.icon-nav{
    margin-top: 90px;
}

.img-logo{
    margin:0 auto;
    max-width: 60%;
}