html,body{
    height: 100%
}
body {
    background-color: #fff;
    background: url(../images/polkadot-bg.png) repeat top left;
    background-size: contain;
    
}

.site-header{
    margin-top: -10px;
    font-size: 3.0em;
    font-weight: bold;
}

.icon-m {
    height: 50px;
}

.icon-nav{
    margin-top: 40px;
}